{% load static %}
{% load i18n %}

<footer class="footer">
  <div class="container">
    <div class="columns-widescreen is-justify-content-space-between">
      <div class="is-flex is-align-items-center desktop is-flex-direction-column-until-widescreen"
           style="margin: auto">
        {# TODO change image or remove#}
{#        <img src="{% static 'img/progysat.png' %}" width="206" height="38">#}
        {% for child_page in home_page.get_children.live %}
          {% if child_page.specific.show_in_footer %}
            <a href="{{ child_page.url }}" class="button is-small is-text">{{ child_page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="/admin" class="button is-small is-text">Admin</a>
        <a href="/contact/?review=1" class="button is-small is-text"> {% trans "Je donne mon avis sur ce site" %}</a>
        {% if settings.progysat.StructureSettings.linkedin %}
          <a href="{{ settings.progysat.StructureSettings.linkedin }}" class="button is-small is-text" target="_blank">
            <span>{% trans "Suivez-nous" %}</span>
            <span class="icon mb-2">
              {% include "components/icon.html" with size="20" name="linkedin-box" %}
            </span>
          </a>
        {% endif %}
      </div>
    </div>
    <div class="columns-widescreen is-justify-content-space-between">
      <div class="column is-8 is-flex is-align-items-center desktop is-flex-direction-column-until-widescreen">
        {% for footer_detail in footer_details %}
          {% if footer_detail.url %}
            <a class="footer-detail" href="{{ footer_detail.url }}">
              <img class="footer-image" src="{{ footer_detail.image }}" alt="{{ footer_detail.name }}" title="{{ footer_detail.name }}">
            </a>
          {% else %}
            <span class="footer-detail">
              <img class="footer-image" src="{{ footer_detail.image }}" alt="{{ footer_detail.name }}" title="{{ footer_detail.name }}">
            </span>
          {% endif %}
        {% endfor %}
      </div>
      <div></div>
    </div>
    <div class="columns-widescreen is-justify-content-space-between">
      <div class="column is-8 is-flex is-align-items-center desktop is-flex-direction-column-until-widescreen">
        <p class="is-size-7">
          <a href="http://telescoop.fr/">{% trans "Développé par" %} <span style="text-decoration: underline">TelesCoop</span></a>,

          <a href="https://www.behance.net/leopoldine-m">{% trans "design par" %} <span style="text-decoration: underline">Leopoldine Mennessier</span></a>
        </p>
      </div>
      <div></div>
    </div>
  </div>
</footer>
