{% load static %}

<footer class="footer">
  <div class="container">
    <div class="columns-widescreen is-justify-content-space-between">
      <div class="column is-8 is-flex is-align-items-center desktop is-flex-direction-column-until-widescreen"
           style="margin: auto">
        <img src="{% static 'img/progysat.png' %}" width="206" height="38">
        {% for child_page in home_page.get_children.live %}
          {% if child_page.specific.show_in_footer %}
            <a href="{{ child_page.url }}" class="button is-small is-text">{{ child_page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="/admin" class="button is-small is-text">intranet</a>
        <a href="/contact/?review=1" class="button is-small is-text">Je donne mon avis sur ce site</a>
        {% if settings.progysat.StructureSettings.linkedin %}
          <a href="{{ settings.progysat.StructureSettings.linkedin }}" class="button is-small is-text" target="_blank">
            <span>Suivez-nous</span>
            <span class="icon mb-2">
              {% include "components/icon.html" with size="20" name="linkedin-box" %}
            </span>
          </a>
        {% endif %}
      </div>
      <div class="column is-flex is-4 is-justify-content-center footer-logos is-align-items-center">
        <a href="https://www.theia-land.fr">
          <img src="{% static 'img/theia.png' %}" alt="Soutenu par Theia" width="62" height="65">
        </a>
        <a href="https://www.agropolis-fondation.fr">
          <img src="{% static 'img/logo_agropolisfondation.png' %}" alt="Soutenu par la fondation Agropolis" width="115"
               height="41">
        </a>
        <img src="{% static 'img/logo-pia.png' %}"
             width="75" height="75"
             alt="Soutenu par le gouvernement au travers du programme Investir l'Avenir">
      </div>
    </div>
    <div class="columns-widescreen is-justify-content-space-between">
      <div class="column is-8 is-flex is-align-items-center desktop is-flex-direction-column-until-widescreen">
        <p class="is-size-7">
          <a href="http://telescoop.fr/">Développé par <span style="text-decoration: underline">TelesCoop</span></a>,
          <a href="https://www.behance.net/leopoldine-m">design par <span style="text-decoration: underline">Leopoldine Mennessier</span></a>
        </p>
      </div>
      <div></div>
    </div>
  </div>
</footer>
