{% load static %}
{% load i18n %}
{% load main_tags %}

<div style="position: fixed; top: 0; left: 0; right: 0; z-index: 30; background: white">
  <div class="container">
    <nav class="navbar" id="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo-holder title is-3 mb-0" href="/{{ language_code }}/">
          <img src="/static/img/progysat.png"
               width="256" height="65" aria-labelledby="tagline"
               style="max-height: initial">
          <span style="width: 270px; position: absolute; bottom: 31px; background: white; left: 88px; font-size: 9px;"
                id="tagline">Projet régional d'observation des Guyanes par satellite</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-end">
          {% for child_page in home_page.get_children.live %}
            {% if child_page.show_in_menus %}
              {% if child_page.get_children %}
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="{{ child_page.url }}">
                    {{ child_page.title }}
                  </a>
                  <div class="navbar-dropdown">
                    {% for grandchild_page in child_page.get_children.live %}
                      <a class="navbar-item {% if grandchild_page.slug in request.path %} active {% endif %}"
                         href="{{ grandchild_page.url }}">
                        {{ grandchild_page.title }}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {% if child_page.url == '/actualites/' %}
                  <div class="navbar-item {% if child_page.slug in request.path %} active {% endif %}">
                    <a class="button is-primary"
                       href="{{ child_page.url }}">
                      {{ child_page.title }}
                    </a>
                  </div>
                {% else %}
                  <a class="navbar-item {% if child_page.slug in request.path %} active {% endif %}"
                     href="{{ child_page.url }}">
                    {{ child_page.title }}
                  </a>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% thematics_page_url as thematics_page_index_url %}

          {% if thematics_page_index_url %}
            <div class="navbar-item">
              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="{{ thematics_page_index_url }}">
                    Thématiques
                  </a>
                  <div class="navbar-dropdown">
                    {% for thematic in all_thematics %}
                      <a class="navbar-item {% if thematic.slug in request.path %} active {% endif %}"
                         href="{{ thematic.link }}">
                        {{ thematic.name }}
                      </a>
                    {% endfor %}
                  </div>
                </div>
            </div>
          {% endif %}


          <div class="navbar-item">
            <div class="buttons">
              <a href="{{ resources_link }}" class="button is-primary">
                <span class="icon">
                  {% include "components/icon.html" with size="16" name="map-line-2" %}
                </span>
                <span>{% trans 'ressources' %}</span>
              </a>
            </div>
          </div>
          {% include "components/language_dropdown.html" %}
        </div>
      </div>
    </nav>
  </div>
</div>
