.top-left-image {
    position: fixed;
    top: 0;
    z-index: 35;
}

/* NAVBAR */
.logo-holder {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.navbar.is-succinct .navbar-additional-logo {
    display: none
}

.navbar.is-succinct .logo-holder {
    flex-direction: row;
    align-items: center;
}

.navbar.is-succinct, .navbar-brand {
    min-height: 6.5rem;
}

.navbar {
    transition: min-height 0.4s ease-in-out;
    z-index: 10;
}

.body-content {
    padding-top: 9rem;
    background: white;
    position: relative;
    z-index: 0;
}

.body-content.is-succinct-pt {
    padding-top: 5rem;
}

.is-flex {
    display: flex;
}

.footer-logos * + * {
    margin-left: 25px
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -24px;
    margin-top: -24px;
}

.card-holder > * {
    margin-left: 24px;
    margin-top: 24px;
}

.footer-at-bottom {
    display: flex;
    flex-direction: column;
}

.footer-at-bottom .card-content {
    flex: auto;
}

@media screen and (max-width: 1733px) {
    .top-left-image {
        display: none;
    }
}

.pdf-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .pdf-holder {
        flex-direction: column;
    }

    .pdf-holder a {
        display: block;
        margin-top: 12px;
    }
}

.modal-background {
    z-index: 100;
}

.modal-content {
    z-index: 101;
}

.resource-card {
    width: 317px;
}

.resource-card img {
    height: 10px;
    width: 10px;
}

.tag-holder {
    margin-left: -8px;
    margin-top: -8px;
    display: flex;
    flex-wrap: wrap;
}

.tag-holder * {
    margin-left: 8px;
    margin-top: 8px;
}
