{% load static %}
{% load i18n %}

<div class="section has-background-secondary-light py-4">
  <div class="container">
    <div class="columns mt-1">
      <div class="column is-12">
        <h3 class="title is-4">{% trans "Les thématiques qui m'intéressent" %}</h3>
        <div class="tags">
          <button v-for="thematic in thematics" class="tag is-rounded is-link is-large"
                  :class="selectedThematics[thematic.slug] ? '' : 'is-light'"
                  @click="toggleThematic(thematic.slug)" style="cursor: pointer; border: 1px solid lightgray" tabindex="0"
                  :style="selectedThematics[thematic.slug] ? '' : ('background: #' + thematic.color)">
            <span>[[ thematic.name ]]</span>
          </button>
          <button @click="resetThematics"
                  class="button is-text is-rounded">{% trans "Toutes" %}</button>
        </div>

      </div>
    </div>
    <div>
      <h3 class="title is-4 mt-5 mb-2">{% trans "Recherche par mot-clé" %}</h3>
      <input @input="updateFilters" v-model="searchInput" type="text" class="input"
             placeholder="Exemple : parcelles agricoles" style="max-width: 250px">
    </div>
  </div>
</div>
