{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <div class="container">
    <div class="section pt-0 pb-4">
      <div class="columns" style="justify-content: space-between">
        <div class="column is-6" style="max-width: 550px">
          <h1 class="title is-2">Progysat, lorem ipsum...
          </h1>
          <p>
            {{ page.specific.introduction|richtext }}
          </p>
          <p class="">
            Progysat, c'est aussi :
              <a href="{{ resources_link }}">
                <span class="has-text-weight-bold is-size-3 ">{{ n_resources }} ressources</span>
              </a>
          </p>
        </div>
        <div class="column is-5">
          <img src="{% static 'img/home-intro-image.svg' %}" style="max-height: 250px;">
        </div>
      </div>
    </div>
  </div>
  <div class="has-background-info-light">
    <div class="container section py-2">
      <h2 class="title is-3 mt-3">{{ page.specific.news_block_title|richtext }}</h2>
      <div class="columns">
        {% for news in news_list %}
          <div class="column {% if forloop.counter == 1 %}is-6{% else %}is-3{% endif %}">
            {% include "components/news_card.html" with news=news is_small=forloop.counter0 large_by_default=1 full_height=1 %}
          </div>
        {% endfor %}
      </div>
      <div class="has-text-centered mt-5">
        <a href="{{ news_list_link }}" class="button is-medium is-secondary">Toutes les actualités</a>
      </div>
    </div>
  </div>
  <div class="section container">
    <div style="margin: auto">
      <h2 class="title is-3 has-text-centered">
        {{ page.specific.resources_block_title|richtext }}
      </h2>
    </div>
    <div style="max-width: 500px; margin: auto">
      <p class="has-text-centered mt-5">
        {{ page.specific.resources_block_explication|richtext }}
      </p>
      <div class="has-text-centered mt-5">
        <a href="{{ resources_link }}" class="button is-medium is-secondary">Toutes les ressources</a>
      </div>
    </div>
  </div>
{% endblock content %}
