{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

{% block content %}
  <div class="container">
    {% include "components/breadcrumbs.html" %}
    <h1 class="title is-1">{{ page.title }}</h1>
  </div>
  <div>
    <div id="app">
      <div class="section has-background-info-light mt-6">
        <div class="container">
          <h2 class="title is-5">Filtrer les actualités</h2>
          <div class="filter-holder">
            <button @click="selectAllNews" class="button is-primary is-rounded"
                    :class="isAllNews ? '' : 'has-background-white is-outlined'">
              Toutes les actualités
            </button>

            <button class="button is-rounded is-primary"
                    :class="selectedTypes[type.slug] ? '' : 'has-background-white is-outlined'"
                    @click="toggleType(type.slug)"
                    v-for="type in types">
              [[ type.name ]]
            </button>
          </div>
        </div>
      </div>

      <div class="section container px-0">
        <div class="card-holder" style="align-items: flex-start">
          <div v-if="!filteredNews.length" class="is-size-4">
            Aucune actualité correspondante
          </div>
          <template v-for="news in filteredNews" :key="news.id">
            <a :href="[[ news.link ]]">
              <div class="card news-card footer-at-bottom">
                <div class="card-image">
                  <img :src="news.image_link">
                </div>
                <div class="card-content pb-0">
                  <h2 class="title is-4 mb-0">[[ news.name ]]</h2>
                  <p class="is-size-7">[[ news.publication_date ]]</p>
                  <p class="mt-4" v-html="news.introduction"></p>
                </div>

                <div class="card-footer pt-0" style="flex-direction: column; padding: 24px; border: none;">
                  <div class="mt-4">
                    <button class="button is-secondary is-medium">
                      Lire la suite
                    </button>
                  </div>
                </div>
              </div>
            </a>
          </template>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script>
      var newsList = JSON.parse('{{ news_list | escapejs }}');
      var types = JSON.parse('{{ types | escapejs }}');
      var selectedTypes = {};
      types.forEach(function (type) {
          selectedTypes[type.slug] = false
      });

      function identity(value) {
          return value
      }

      console.log("### newsList", newsList);
      Vue.createApp({
          delimiters: ['[[', ']]'],
          data() {
              return {
                  filteredNews: newsList,
                  isAllNews: true,
                  newsList: newsList,
                  selectedTypes: selectedTypes,
                  types: types,
              }
          },
          methods: {
              selectAllNews() {
                  this.types.forEach(type => {
                      this.selectedTypes[type.slug] = false;
                  });
                  this.updateFiltered();
              },
              toggleType(type) {
                  console.log("### toggle", type, this.selectedTypes);
                  this.selectedTypes[type] = !this.selectedTypes[type];
                  console.log("### toggled", this.selectedTypes);
                  this.updateFiltered();
              },
              updateFiltered() {
                  var selected = Object.values(this.selectedTypes);
                  console.log("### update filtered", this.selectedTypes, selected);
                  if (!selected.some(identity) || selected.every(identity)) {
                      // none or all are selected
                      this.isAllNews = true;
                      this.filteredNews = this.newsList;
                      return;
                  }
                  this.isAllNews = false;
                  var filtered = [];
                  for (var news of newsList) {
                      var isSelected = false;
                      for (var type of news.types) {
                          if (this.selectedTypes[type]) {
                              isSelected = true;
                              break;
                          }
                      }
                      if (isSelected) {
                          filtered.push(news);
                      }
                  }
                  console.log("### update filtered", filtered);
                  this.filteredNews = filtered;
              }
          },
          mounted() {

          },
      }).mount('#app')
  </script>
{% endblock extra_js %}

{% block extra_css %}
  <style>
      .filter-holder {
          margin-left: -15px;
          display: flex;
          flex-wrap: wrap;
      }

      .filter-holder > button {
          margin-left: 15px;
      }

      .filter-holder .button.is-outlined:hover {
          background: transparent !important;
          color: #324176 !important;
      }

      .button.has-background-white:focus {
          color: #324176 !important;
      }

      .news-card {
          max-width: 432px;
      }
  </style>
{% endblock %}
