{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}
{% load i18n %}

{% block content %}
  <div class="container">
    {% include "components/breadcrumbs.html" %}
    <h1 class="title is-1">{{ page.title }}</h1>
  </div>
  <div>
    <div id="app">
      <div class="section container px-0">
        <div class="card-holder" style="align-items: flex-start">
          {% if not news_list %}
            <div class="is-size-4">
              {% trans "Aucune actualité publiée" %}
            </div>
          {% else %}

          {% for news in news_list %}
            <a href="{{ news.link }}">
              <div class="card news-card footer-at-bottom">
                <div class="card-image">
                  <img src="{{ news.image_link }}">
                </div>
                <div class="card-content pb-0">
                  <h2 class="title is-4 mb-0">{{ news.name }}</h2>
                  <p class="is-size-7">{{ news.publication_date }} </p>
                  <p class="mt-4">
                    {{ news.introduction|safe }}
                  </p>
                </div>

                <div class="card-footer pt-0" style="flex-direction: column; padding: 24px; border: none;">
                  <div class="mt-4">
                    <button class="button is-secondary is-medium">
                      {% trans "Lire la suite" %}
                    </button>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}


          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_css %}
  <style>
      .button.has-background-white:focus {
          color: #324176 !important;
      }

      .news-card {
          max-width: 432px;
      }
  </style>
{% endblock %}
