{{ ansible_managed | comment }}

upstream app_servers_{{ project_slug }} {
  server 127.0.0.1:{{ backend_application_port }};
}

server {

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/progysat.org/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/progysat.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    server_name {{ " ".join(public_hostnames) }};

    access_log /var/log/nginx/access_{{ public_hostnames[0].replace('.', '_') }}.log;
    error_log /var/log/nginx/error_{{ public_hostnames[0].replace('.', '_') }}.log;

    client_max_body_size 10M;

    # http://stackoverflow.com/questions/15238506/djangos-suspiciousoperation-invalid-http-host-header
    # Deny illegal Host headers
    if ($host !~* ^({{ "|".join(public_hostnames) }})$ ) {
        return 444;
    }

    location /static  {
        autoindex off;
        alias {{ backend_static_path }};
    }

    location /media  {
        autoindex off;
        alias {{ backend_media_path }};
    }

    location / {
        proxy_pass         http://app_servers_{{ project_slug }}/;
        proxy_redirect     off;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
    }
}

server {
    if ($host = progysat.tlscp.fr) {
        return 301 https://progysat.org$request_uri;
    } # managed by Certbot


    if ($host = www.progysat.org) {
        return 301 https://progysat.org$request_uri;
    } # managed by Certbot


    if ($host = progysat.org) {
        return 301 https://progysat.org$request_uri;
    } # managed by Certbot


    listen 80;

    server_name progysat.org www.progysat.org progysat.tlscp.fr;
    return 404; # managed by Certbot
}
