{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "La page n'a pas été trouvée" %}{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
  <div class="container my-6">
    <h1 class="title is-1">{% trans "La page n'a pas été trouvée" %}</h1>

    <p class="is-size-5">
      {% trans "La page n'a pas été trouvée" %}
    </p>
    <div class="my-6 has-text-centered">
      <a href="/{{ language_code }}/" class="button is-primary is-medium">{% trans "Retour à l'accueil" %}</a>
    </div>
  </div>
{% endblock %}
